<form #form="ngForm" novalidate>
    <h3 class="card-title">Natural Person - Personal Details</h3>

    <div class="md-form">
        <select class="mdb-select" id="gender" name="gender" class="form-control" [(ngModel)]="user.sex">
            <option value="M" selected>Male</option>
            <option value="F">Female</option>
        </select>
        <label for="gender">Gender</label>
    </div>

    <div class="md-form">
        <input id="initials" id="initials" name="initials" type="text" class="form-control" [(ngModel)]="user.initials">
        <label for="initials">Initials</label>
    </div>

    <div class="md-form">
        <input id="firstname" name="firstname" type="text" class="form-control" [(ngModel)]="user.firstName">
        <label for="firstname">First Name</label>
    </div>

    <div class="md-form">
        <input id="lastname" name="lastname" type="text" [(ngModel)]="user.lastName">
        <label for="lastname">Last Name</label>
    </div>
    
    <div class="md-form">
        <input id="dob" name="dob" type="text" [(ngModel)]="user.dateOfBirth">
        <label for="dob">Date of Birth (dd/MM/YYYY)</label>
    </div>

    <div class="md-form">
        <select class="mdb-select"  id="nationality" name="nationality" type="text" class="form-control" [(ngModel)]="user.countryOfBirth">
            <option value="NLD" selected>Netherlands</option>
            <option value="UK">United Kingdom</option>
        </select>
        <label for="nationality">Nationality</label>
    </div>
    
    <div class="md-form">
        <input id="ssn" name="ssn" type="text" class="form-control" [(ngModel)]="user.socialSecurityNumber">
        <label for="ssn">Social Security Number</label>
    </div>
    
    <div class="text-center">
        <button type="button" class="btn btn-inverse" routerLink="/home">Cancel</button>
        <button type="button" class="btn btn-default" [disabled]="!form.valid" routerLink="/register/contact-details">Next Step</button>
    </div>
</form>