<nav class="navbar navbar-toggleable-md navbar-dark green darken-4">
    <div class="container">
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNav1" aria-controls="navbarNav1" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <a class="navbar-brand" routerLink="">
            <strong>.Blanco</strong>
        </a>
        
        <div class="collapse navbar-collapse" id="navbarNav1">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" routerLink="">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="register">Join Us</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="about">About Us</a>
                </li>
            </ul>
        </div>
    </div>
</nav>