<h3 class="card-title">Confirmation</h3>
<pre>{{user|json}}</pre>

<div class="text-center">
    <button class="btn btn-inverse" routerLink="/">Cancel</button>
    <button class="btn btn-default" (click)="confirm()">Confirm</button>
</div>
