<form #form="ngForm" novalidate>
    <h3 class="card-title">Natural Person - Contact Details</h3>

    <div class="md-form">
        <input id="line1" name="line1" type="text" class="form-control" [(ngModel)]="address.line1">
        <label for="line1">Address Line 1</label>
    </div>

    <div class="md-form">
        <input id="line2" name="line2" type="text" class="form-control" [(ngModel)]="address.line2">
        <label for="line2">Address Line 2</label>
    </div>

    <div class="md-form">
        <input id="postalCode" name="postalCode" type="text" class="form-control" [(ngModel)]="address.postalCode">
        <label for="postalCode">Postal Code</label>
    </div>

    <div class="md-form">
        <input id="city" name="city" type="text" class="form-control" [(ngModel)]="address.city">
        <label for="city">City</label>
    </div>

    <div class="md-form">
        <input id="country" name="country" type="text" class="form-control" [(ngModel)]="address.country">
        <label for="country">Country</label>
    </div>

    <div class="md-form">
        <input id="phone" name="phone" type="text" class="form-control" [(ngModel)]="address.phone">
        <label for="phone">Country</label>
    </div>

    <div class="text-center">
        <button type="button" class="btn btn-inverse" routerLink="/">Cancel</button>
        <button type="button" class="btn btn-default" [disabled]="!form.valid" routerLink="/register/confirmation">Next Step</button>
    </div>
</form>